[submodule "dotfiles-composer"]
	path = dotfiles-composer
	url = https://github.com/socheatsok78/dotfiles-composer.git
[submodule "dotfiles-node"]
	path = dotfiles-node
	url = https://github.com/socheatsok78/dotfiles-node.git
