[submodule "dotfiles.d/composer"]
	path = dotfiles.d/composer
	url = https://github.com/socheatsok78/dotfiles-composer.git
[submodule "dotfiles.d/node"]
	path = dotfiles.d/node
	url = https://github.com/socheatsok78/dotfiles-node.git
[submodule "dotfiles.d/iterm"]
	path = dotfiles.d/iterm
	url = https://github.com/socheatsok78/dotfiles-iterm.git
[submodule "dotfiles.d/macos"]
	path = dotfiles.d/macos
	url = https://github.com/socheatsok78/dotfiles-macos.git
[submodule "dotfiles.d/bin"]
	path = dotfiles.d/bin
	url = https://github.com/socheatsok78/dotfiles-bin.git
